body {
  @include ff-Cormorant;
  overflow: hidden;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  height: 100%;

  @include _900 {
    max-width: 100%;
    margin: 0 5%;
  }
}

h1,
h2,
h3,
h4,
p {
  line-height: 1em;
}
