body {
  @include ff-Cormorant;
  overflow: hidden;
}

.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;

  @include _1280 {
    margin: 0 2rem;
  }

  @include _900 {
    max-width: 100%;
  }

  @include _768 {
    height: auto;
    width: auto;
  }

  @include _480 {
    margin: 0 1rem;
  }
}

h1,
h2,
h3,
h4,
p {
  line-height: 1em;
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.15s ease-in-out;
}

.page-enter, .page-leave-active {
  opacity: 0;
}
