body {
  @include ff-Cormorant;
  overflow: hidden;

  &.overflowed {
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 2rem;

  @include _900 {
    max-width: 100%;
  }

  @include _768 {
    height: auto;
    width: auto;
  }

  @include _480 {
    margin: 0 1rem;
  }
}

h1,
h2,
h3,
h4,
p {
  line-height: 1em;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.15s ease-in-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.layer {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 0.6;
  }
}
