/* --- --- fonts --- --- */

@mixin ff-Cormorant {
  font-family: 'Cormorant', 'Times New Roman', Times, serif;
  font-weight: 300;
}

@mixin fz-xxl {
  font-size: 3rem;
}

@mixin fz-xl {
  font-size: 2rem;
}

@mixin fz-l {
  font-size: 1.5rem;
}

@mixin fz-m {
  font-size: 1rem;
}

@mixin fz-s {
  font-size: 0.8rem;
}