.btn {
  @include ff-Cormorant;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  min-width: 150px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale($hoverScaleValue);
  } 

  &.primary {
    background-color: #000;
    color: #fff;
  }

  &.secondary {
    min-width: 100px;
    background-color:rgba(255, 255, 255, 0.2);
    color: #000;
  }
}
