.footer {
  padding: 0.5rem 0;
  background-color: #000000d4;
  color: #fff;

  &__inner {
    @include fz-s;
    @include ff-Cormorant;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > div:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__col:first-child {
    align-items: flex-start;
  }

  &__col:last-child {
    align-items: flex-end;
  }

  &__address p {
    display: flex;
    line-height: 1.3rem;
  }
}
