.main-wrapper {
  width: 100vw;
  height: var(--vh);
  background-color: $mainBg;

  &.blured {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }

  &.fluidH {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: var(--vh);

    .main-wrapper__section {
      flex: 1;
    }
  }

  &.fixed {
    overflow: hidden;
  }

  &__header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    background: $mainBgOpacity;

    @include _768 {
      display: grid;
    }
  }

  &__section {
    display: flex;
    height: 100%;

    @include _768 {
      flex-direction: column;
      justify-content: space-between;
      height: 97%;
      padding-top: 7rem;
    }
  }

  &__img {
    width: 45%;
    object-fit: cover;
    filter: brightness(0.8);

    @include _768 {
      position: static;
      width: 100%;
      height: calc(100% - (200px + 5rem));
      object-position: 0 35%;
      min-height: auto;
    }
  }

  &__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 20;
    transform: translate(100%, -50%);
    transition: transform 0.9s ease-in-out;

    &.active {
      transform: translate(-50%, -50%);
    }
  }
}
