.main-wrapper {
  width: 100vw;
  height: var(--vh);
  background-color: $mainBg;

  &.blured {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);  
  }

  &__header {
    display: flex;
    align-items: center;
    height: 10%;

    @include _768 {
      display: grid;
    }
  }

  &__section {
    display: flex;
    height: 80%;

    @include _768 {
      flex-direction: column;
      height: 90%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);

    @include _768 {
      position: static;
      width: 100%;
      height: calc(100% - (200px + 5rem));
      object-position: 0 35%;
      min-height: auto;
    }

    @include _768 {
      margin-bottom: 1rem;
    }
  }

  &__popup {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 20;
    transform: translate(-50%, -50%);
  }
}
