.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include _900 {
      flex-direction: column;
      height: 50%;
      min-height: 340px;
    }
  }

  &__item:not(:first-child) {
    margin-left: 31px;

    @include _900 {
      margin-left: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;

    @include _900 {
      color: #000;
      font-size: 2rem;
    }
  }
}
