.popup {
  display: flex;
  align-items: flex-end;
  width: 50%;
  background-color: $mainBg;
  min-width: 768px;
  min-height: 600px;

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__inner {
    padding: 2rem;
    width: 100%;
  }

  &__form {
    width: 100%;
  }

  &__text {
    margin-bottom: 1rem;
  }
}
