.section {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 50%;

    @include _768 {
      height: 25%;
      width: 100%;
      min-height: 200px
    }
  }

  &__intro-img {
    @extend .main-wrapper__img;

    display: none;

    @include _600 {
      display: block;
      object-position: top 25%;
    }
  }

  &__title {
    @include fz-xxl;

    margin-bottom: 25px;

    @include _480 {
      margin-bottom: 1rem;
    }
  }

  &__subTitle {
    @include fz-l;

    margin-bottom: 20px;

    @include _480 {
      margin-bottom: 1rem;
    }
  } 

  &__text {
    @include fz-m;
    
    margin-bottom: 20px;

    @include _768 {
      height: 2rem;
    }

    @include _480 {
      margin-bottom: 1rem;
    }
  }

  &__btn.btn {
    @include _768 {
      width: auto;
      height: 3rem;
      margin: 0 2rem;
    }

    @include _480 {
      margin: 0 1rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-left: 1em;

    &::before {
      content: '';
      position: relative;
      right: 1em;
      display: inline-block;
      width: 1em;
      height: 1em;
      background-color: #000;
    }
  }
}
